@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
body {
  font-family: "Jost", sans-serif;
}

.row {
  margin: 0 !important;
}

.largeScreenNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.largeScreenNav .largeIcon {
  cursor: pointer;
}
.largeScreenNav .nav-link {
  color: black;
}
.largeScreenNav .aboutNdCart {
  display: flex;
  align-items: center;
}

.mobileNav {
  display: none;
  font-size: 16px;
  font-weight: 500;
}
.mobileNav .smallIcon {
  cursor: pointer;
}

.section1 {
  width: 100%;
  margin-top: 12%;
}
.section1 .section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .section-one .p1 {
  font-size: 18px;
  font-weight: 600;
}
.section1 .section-one .p2 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.section1 .section-one .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.section1 .section-one .btns .button {
  border: none;
  width: 250px;
  font-weight: 500;
}
.section1 .section-one .btns .button1 {
  background-color: black;
  color: white;
  padding: 10px 0;
}
.section1 .section-one .btns .button1:hover {
  background-color: rgba(0, 0, 0, 0.92);
}
.section1 .section-one .btns .button2 {
  background-color: white;
  color: black;
  border: 2px solid;
  padding: 8px 0;
}
.section1 .section-one .btns .button2:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.section1-img {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.section1-img .img-section1 {
  display: flex;
  justify-content: center;
  align-items: end;
}
.section1-img .img1 {
  background: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.35);
}
.section1-img .img1 img {
  width: 100%;
}

.section2 {
  width: 100%;
}
.section2 .newArrival {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 7%;
}
.section2 .section2-underwear .boy {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  width: 100%;
}
.section2 .section2-underwear img {
  width: 100%;
}
.section2 .section2-underwear h3 {
  margin-top: 7%;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .largeScreenNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .section1 .btns {
    flex-direction: column;
  }
  .section1 .btns .button {
    width: 90vw !important;
  }
  .section1 .btns .button1 {
    margin-right: 0 !important;
    margin-bottom: 4%;
  }
  .section1-img .img-section1 {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .section1-img .img1 {
    margin-right: 0;
    margin-top: 10%;
  }
  .section2 .newArrival {
    margin-top: 18%;
  }
  .section2 .section2-underwear {
    flex-direction: column;
  }
  .section2 .imageA {
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 1600px) {
  .section1-img .img-section1 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
