
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
// main.scss

// Import Swiper styles


// Your other styles

$bg-color: #f1f1f1;
$buttonhover:#D7000F;
$comment: var(--Gray-5, #E0E0E0);
$boldcolor:  var(--gray-1000, #212121);
$smalltextcolor: var(--gray-900, #424242);
$yearcolor: var(--byc-red, #D7000F);
$redcolor:  var(--brand-colour-1, #BD3A3A);

@mixin shadow($shadow: rgba(0,0,0) ){
box-shadow:  1px 1px 3px 0 rgba($shadow, 0.35);
}
@mixin reset-more{
  border: 1px solid black;
  font-size: 15px;
  font-weight: 700;
padding: 10px;
background: #fff;
color: black;
}
@mixin grid{
  border-radius: 4px;
      background: #ffffff;
      box-shadow: 0px 2px 4px 0px rgba(41, 121, 255, 0.24), 0px 1px 2px 0px rgba(27, 78, 163, 0.24);
}
@mixin list{
  border-radius: 2px;
  background: rgba(189, 58, 58, 0.06);
}
@mixin wishNcart{
  padding: 5px 0;
  font-size: 14px;
  width: 50%;
  border: 2px solid $redcolor;
  border-radius: 5px;
  background: #ffffff;
  color: $redcolor;
  font-weight: 600;
}
@mixin wishlist{
  margin: 20px 0 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
@mixin box-shadowpadding{
border-radius: 10px;
background: #FFF;
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
padding: 50px 10px;
}















body{
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
}
.row {
  margin: 0 !important;
}
.fixed-top{
  background: white;
  padding-bottom: 10px;
}
.linkPage{
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
.links{
  text-decoration:none;
  color: rgba(0, 0, 0, 0.5);

  margin-top: 50%;
  &:hover{
    text-decoration:none;

  }
  }
}

// nav starts

// wishlist html nav
.wishlist-navbar{
  background:  #2F2F2F !important;
}
.fixed-top-wishlist{
  background: none;
}

.navBtn-wishlist{
  background-color:  #2F2F2F !important;

}
// wishlist end
.largeScreenNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%;
padding: 10px 0;
font-size: 16px;
font-weight: 500;
.largeIcon{
  cursor:  pointer;
  margin-right: 20px;
}
.has-search{
  display: none;
width: 200px;
}
.formInput{
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 2px 4px;
&:focus{
  outline: none;
}
}
.form-control-feedback{
  cursor: pointer;
}
.nav-link{
color: black;
}

.aboutNdCart{
  display: flex;
  align-items: center;
}

}
.navBtn{
  border: none !important;
  background: white;
}

.mobileNav{
  display: none;
font-size: 16px;
font-weight: 500;
background-color: #ffffff;
z-index: 100;
.smallIcon{
  cursor: pointer;
}
.nav-link{
   color: #000;
}
.small-link{
  color: #fff !important;
}
.form-groupsmall{
  width: 100% !important;
  display: none;
  .form2{
    width: 100% !important;
  
  .formInput2{
    width: 100% !important;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid black;
    &:focus{
      outline: none;
    }
  }
}
}
}
// nav ends

// shopproducts
.shoplist{
  background-color: $bg-color;
  color: #000;
  .shop{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    }
  }
  .drop-header{
    background-color: $redcolor;
    a{
    color: #fff;
    font-weight: 600;
    }
  }
  a{
    list-style-type: none;
  }
  .gender{
    color: #000 !important;

  }
  .items{
    color: #000 !important;
  }
  .gendermenu{
    width: 30%;
  }

}
.dropdown-item{
  color: #000 !important;
 &:hover{
  color: #ffffff !important;
  background-color: #BD3A3A;
  transition: .3s ease;
 } 
 }
 .drop-header-lg{
  width: 80vw;
  .drop-header{
width: 100%;
.dropdown{
  width: 100%;
}
.gends{
  width: 33.3%;
}
  }
 }


// landing page
// section1 starts 
.section1{
  width: 100%;
  margin-top: 12%;
  .section-one{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 #rotatingHeading{
 color:var(--brand-colour-1, #BD3A3A);
  text-shadow: 
  -1px 1px 2px rgba(0,0,0,0.7);
 }
 .p1{
  font-size: 18px;
  font-weight: 600;
 }
 .p2{
  font-size: 40px;
  font-weight:900;
  text-align: center;
 }
 .btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  .button{
    border: none;
 width: 250px;
    font-weight: 500;

  }
  .button1{
    background-color: black;
    color: white;
    padding: 10px 0;
    &:hover{
      background-color: rgba($color: #000000, $alpha: 0.92);
      
    }
  }
  .button2{
    background-color: white;
    color: black;
    border: 3px solid;
    padding: 7px 0;
    &:hover{
      background-color: rgba($color: #000000, $alpha: 0.04);
      
    }
  }
 }
  }
}
.section1-img{
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;

  .img-section1{
    display: flex;
    justify-content: center;
    align-items: end;

  }
  .img1{
    background: $bg-color;
   width: 100%;
   display: flex;
   justify-content: center;
 box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.35);
  img{
    width: 100%;
  }
}
}

// section2
.section2{
  width: 100%;
  .newArrival{
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 7%;
  }

  .section2-underwear{
  .boy{
  background: $bg-color;
  display: flex;
  justify-content: center;
  width: 100%;
  }
  img{
    width: 100%;
  }
  h3{
    margin-top: 7%;
    font-weight: 700;
  }
  .viewBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  margin: 1.5% 0 10% 0;
    button{
    
    background-color: white;
    color: black;
    border: 3px solid;
    padding: 7px 0;
    width: 250px;
    font-weight: 500;
    &:hover{
      background-color: rgba($color: #000000, $alpha: 0.04);
   
    }
  }
}
  
}

}

// section 3
.section3{
  width: 100%;
  .sectionthree1, .sectionthree2{
    width:100%;
    background: $bg-color;
  }
  .section3-img{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    @include shadow;
    img{
      width:100%;
   
    }
  }
  .section3-2{
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
  .sectionthree1{
    height: 100%;
    position: relative;
    @include shadow;
    .section-byc{
      position: absolute;
      left: 15%;
      top: 25%;
.pp1{
  color: var(--gray-800, #616161);
  font-size: 20px;
    font-weight: 700;
}
.pp2{
  width: 80%;
  color: var(--gray-900, #424242);
font-size: 13px;
font-weight: 400;
line-height: 140%;
}
      h2{
       
        color: var(--gray-1000, #212121);
        font-size: 42px;
        font-weight: 700;
      }
      button{
     
        color: black;
        border: 3px solid;
        padding: 7px 0;
        width: 250px;
        font-weight: 500;
        &:hover{
          background-color: rgba($color: #000000, $alpha: 0.04);
       
        }
      }
    }
  }

  .sectionthree4, .sectionthree5{
    display: flex;
    justify-content: center;
   width: 100%;
   background: $bg-color;
   @include shadow;
 
  }
  .sectionthree4 img{
    width: 100%;
  
  }
   .sectionthree5 img{
    width: 100%;
  margin-top: 25%;
  }

 

}
.section3-second{
  margin-top: 25px;
}
.viewBtn2{
 display: flex;
 justify-content: center;
 margin-top: 5%;
 button{
  color: black;
  border: 3px solid;
  padding: 7px 0;
  width: 250px;
  font-weight: 500;
  background: white;
  &:hover{
    background-color: rgba($color: #000000, $alpha: 0.04);
 
  }
 }
}

// section 4

.section4{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 12%;
  .shopCategory{
h3{
font-size: 32px;
font-weight: 700;
}
  .peopleundies, .undies{
    display: flex;
  justify-content: center;

  }
 .undies div p{
   margin-top: 20%;
   padding: 2px 25px;
  }
  .undies div{
    display: flex;
transition: 0.3s;
  cursor: pointer;
    @include shadow;
    margin: auto 0;
    &:hover{
      background: $buttonhover;
      color: #fff;
    }
  }

  }
  .pple{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    cursor: pointer;
    height: 25px;
    &:hover{
      border-bottom: 2px solid black;
      }
  }
}


// section5
.section5{
width: 100%;
  margin-bottom: 5%;
.swipe{
  width: 100%;

}
.pantsnPrice{
  font-weight: 700;
  font-size: 16px;
 
  span{
    font-weight: 400;
  }
}
  .imgBackground{
    background: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
.pants{
  width: 100%;
height: 400px;
}
}
.swiper, .swiper-wrapper{
width: 100% ;
}
.swiper-button-prev:after, .swiper-button-next:after{
font-size:28px !important;
}
.swiper-button-prev, .swiper-button-next{
  color: #000000 !important;
  font-weight: 900;
  padding: 10px 20px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 2px 2px 10px gray;
}
.swiper-pagination{
  display: none !important;
}
.swiper-pagination-bullet-active{
  background: #2f2f2f !important;
 }
}
// section6
.section6{
  width: 100%;
  .sect-p1{
  text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10%;
  }
.sixcard{
  @include shadow;
}
  .sect6-img{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
    }
  }

  .image6{
    background: $comment; 
  }

  .likeImg, .viewImg{
   height: 20px;
   width: 20px;
   margin-right: 5px;
  }
 .viewdiv{
  margin-right: 30%;
 }
 .viewdiv, .likediv{
  margin-top: 35%;
 }
 .d-text{
  padding: 20px 30px;
 }
 .fashion{
  display: flex;
  font-size: 15px; 
  margin-top: 2%;
 }
 .firstText{
  font-weight: 700;
  margin-right: 10%;
 }

 .likeANDview{
  margin-left: 15%;

 }
 h3{
  color: $boldcolor;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 40px;
 }
 .ppp{
  margin-top: 40px;
  font-weight: 400;
  font-size: 15px;
  color: $smalltextcolor;
 }
 .sixbtn{
  margin-top: 40px;
  margin-bottom: 20%;
  button{
   @include reset-more;
  }
  img{
    margin-left: 10px;
  }
 }
 .viewBtn3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  
  button{
   color: black;
   border: 3px solid;
   padding: 7px 0;
   width: 250px;
   font-weight: 500;
   background: white;
   &:hover{
     background-color: rgba($color: #000000, $alpha: 0.04);
  
   }
  }
 }
 
}

footer{
background: #212121;;
margin-top: 10%;
padding: 50px 0;
h6{
  font-weight: 700;
}

  li{
    list-style: none;

    a{
    color: #fff;
    font-size: 14px;
    &:hover{
      text-decoration: none;
      color: #fff;
   
    }
    }
  }
  .payment-methods{
    display: flex;
  }

.input-img-div{
  border: 1px solid white;
  width: 230px;
}
  input{
    border: none;
    padding: 8px !important;
  width: 80%;
    outline: none;
    background: #212121;
    caret-color: #fff;
    color: #fff;
    font-size: 14px;
    &::placeholder{
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      font-family: 'Jost', sans-serif;
    }
   
  }
  .mail, .phone{
    display: flex;
   font-size: 14px;
  }

  .mail p, .phone p{
    font-size: 14px;
  }
.social-icon{
  display: flex;
  width: 20%;
  margin: 0 auto;
  margin-top: 5%;
  .social-icons{
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
align-items: center;
@include shadow;
&:hover{
  background: $bg-color;
}
   
  }

}
hr{
  background: #fff;
  width: 78%;
  height: 1px;
   }
   .copy{
    font-size: 12px;
   }
}
.section-footer, .footer, .footer-container{
  width: 100%;

}
// landing page ends


// blog styling begins.....................................
.heading{
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin: 10% 0;
  .glitch{
  // border-right: 5px solid;
font-size: 48px;
// width: 550px;
// white-space: nowrap;
// overflow: hidden;
font-weight: 900;
text-align: center;
// animation: typing 2.5s steps(20), cursor .4s step-end infinite alternate;
  }
}

.secondblog, .thirdblog{
  margin-top: 15%;
}

.section1-blog{
  .blog-img1{
    width: 100%;
  
  }

button{
  @include reset-more;
  .arr{
    margin-left: 10px;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
}
.likeImg, .viewImg{
  height: 20px;
  width: 20px;
  margin-right: 5px;
 }
 .image6{
  background: #fcfcfc;
 }
.viewdiv{
 margin-right: 30%;
}
.viewdiv, .likediv{
 margin-top: 35%;
}
.d-text{
 padding: 20px 30px;
}
.fashion{
 display: flex;
 font-size: 15px; 
 margin-top: 2%;
 width: 300px;
 margin-bottom: 0 !important;

}
.firstText{
 font-weight: 700;
 margin-right: 5%;
 width: 100%;
 margin-bottom: 0 !important;
}
.secondtext{
  width: 100%;
  margin-bottom: 0 !important;
}

.likeANDview{
 margin-left: 30%;

}  
.blog-sect{
 position: relative;

height: 100%;
 h3, .textnread, .fashion-sect{
  position: absolute;
 }
 .fashion-sect{
bottom:  0;
left: 0;
 }

 h3{
  top:0;
  left:0;
  font-size: 24px;
  font-weight: 700;
 }
 .textnread{

  top:12%;
left: 0;
text-align: justify;
font-size: 16px;

color: #424242;
font-weight: 400;
 }
}
}


.err-btn{
  color: #ffffff;
  background-color: $buttonhover;
  border: none;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 5px;
}
.helerror{
  padding: 50px 0;
}
.slider-sec{
  .down-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  margin-bottom: -50px;

    img{
      height: 100%;
   
      padding: 16px 20px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .slide-numbers{
      display: flex;
      gap: 10px;


      h4{
        background: #fff;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
        padding: 9px 20px;
        cursor: pointer;
     transition: .3s ease;
     border: 2px solid white;
        &:hover{
          border: 2px solid  #fb8200;
        
        }
  
      }
    }
  }
}

// blog styling ends

// readmore blogs..........................................

.main-section{
margin-bottom: 7%;
  h2{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    margin: 10% 0;
  }
  .main-sec{
    p{
    text-align: justify;
    margin: 25px 0;
    font-size: 18px;
    font-weight: 400;
color: var(--gray-900, #424242);
    }
    img{
      width: 100%;
      margin: 60px 0;
    }
  }
}


// readmore blog ends

// about page begins........................................

.heading{
  .about{
    font-weight: 900;
    color: #212121;
    font-size: 48px;
  }
}

.section1-about{

  img{
    width: 100%;
    background: $bg-color;
    @include shadow;
  }
  .flex-about{
    display: flex;
    align-items: center;
  }
  h3{
    font-size: 36px;
    font-weight: 700;
  
  }
  .about-text{
    font-size: 22px;
    font-weight: 400;
  }
}
.section2-about{
  h1{
  text-align: center;
  font-weight: 900;
  color: #212121;
  font-size: 40px;
width: 100%;
margin: 12% 0;
  }

  .aboutdiv{
    background: rgba(189, 58, 58, 0.04);
box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.06);
height: 330px;
position: relative;

  .inside-about{
    padding: 20px 10px;
  }
  h6{
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    color: #383737;
    top:45%;
  }
  p{
    position: absolute;
    color: $yearcolor;
font-size: 26px;;
font-weight: 700;
text-shadow: 1px 1px 2px black;
bottom: 2%;
  }
  img{
    position: absolute;
    top:2%;

  }
}
}
.about-lastsection{
  margin-top: 12%;
  .lastsec{
    padding: 50px 20px;
  border-radius: 10px;

box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
h6{
  font-size: 16px;
  font-weight: 700;
}
.byc{
  font-weight: 400;
}
  }
 
  .flex-review{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
    border-bottom: 3px solid #f1eeee;
  padding-bottom: 15px;

    .review{
font-size: 18px;
font-weight: 900;
margin: 0 !important;

    }
    .see{
color: $redcolor;
font-size: 16px;
font-weight: 500;
margin: 0 !important;
    }
  }
  .see-Img{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   .angle-right{
      font-size: 20px;
    }
  }
  .products{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
    img{
      width: 100%;
    }
  }
  .starNum{
    display: flex;
    align-items: center;
 
  }
.star{
  display: flex;
  margin-right: 20px;
}
.product1, .product2, .product3, .product4, .product5{
border-radius: 10px;
cursor: pointer;
transition: .5s ease;
margin: 0 6px;
&:hover{
  box-shadow: 0 2px 10px lightgrey;
  
  }
}
.productImg{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.pricingAndStar{
  padding: 20px 10px;
}
.fashion{
  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 12px;
color: var(--gray-50, #787885);
}
.price{
  font-weight: 600;
  font-size: 14px;
}
.rate{
  font-size: 14px;
margin-top: 5px;
p{
  margin-bottom: 0 !important; 
}
}
}
// contact styling begins............................................
.contact-section1{
  h1{
    font-size: 48px;
    margin: 12% 0;
font-weight: 700;
text-align: center;
}
.map{
  width: 100%;
}
.contact-flex{
  display: flex;
  align-items: center;
  p{
    margin: 0 !important;
    font-size: 14px;
    font-family: 400;
    line-height: 20px;
  }
}
.contacts{
  font-size: 20px;
  font-weight: 700;
}
.sub-section{
  margin: 10% 0;
  background: #FBFBFB;
  padding: 50px 10px;
}
}

.contact-section2{
  .form{
    margin-top: 30px;
  }
.dropmessage{
    font-size: 48px;
    font-weight: 700;
  }
  form{
    width: 100%;
    input, textarea{
      width: 100%;
      border-radius: 8px;
border: 1px solid $redcolor;
padding: 8px 10px;
&:focus{
  outline: none;
}


    }
    label{
      font-weight: 600;
      font-size: 14px;
    
    }
    .submitBTN{
      background: $redcolor;
      color: #fff;
      padding: 10px 0;
      font-weight: 400;
      &:hover{
        background: #D7000F;
      }
    }
  }
}

// all products ............................................
fieldset{
  border: 1px solid #5A5B6A !important;
  padding: 2px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  legend{
    font-size: 10px;
    color: #787885;
width: auto;
padding: 0;
  }
  h6{
    font-size: 14px !important;
    font-weight: 500;
  margin: 0;
  margin-right: 10px;
   
  }
  .sold{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.boxers-fieldset{
  border: 1px solid $redcolor !important;
  legend,h6{
    color: #BD3A3A;
  }
}
.main-allproducts{
  .allproducts2, .allproducts3{
    margin-top: 5%;
  
  }
  .gridAndList{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px 0;
    border-bottom: 3px solid #f1eeee;
    .list, .grid{
padding: 10px 30px;
cursor: pointer;
@include list;
&:hover{
  @include grid;
}
    }

  }
  .product1,.product2,.product3,.product4,.product5{
  .wishlist{
 @include wishlist;
  visibility: hidden;
  }
  &:hover .wishlist{
    visibility: visible;
  }
}
  .btn-wish, .btn-shoppingcart{
@include wishNcart;
   
    &:hover{
      background: $redcolor;
      color: #f1f1f1;
      &:hover .fa-heart, .fa-cart-shopping{
color: #ffffff !important;
      }
    }
  }

}
.slider-section{
  margin-top: 150px;
}
.mid-allproducts{
  display: none;
}
.mobile-allproducts{
  display: none;
}

// checkout .....................
.section-checkout1{

  margin: 7% 0;
  .shorts{
    width: 20%;
  }
  h3{
    font-weight: 700;
    font-size: 26px;
  }
  .flexshorts{
    display: flex;
align-items: center;
margin: 20px 0;
  }
  .clickBtn{
    border: none;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    cursor: pointer;
  }
  .checkout-section{
@include box-shadowpadding;
  }
  .menboxer{
    width: 100%;
  }
  .counter{
    display: flex;
    align-items: center; 
    margin: 20px 0;
    button{
      border: none;
    }
    .plus, .minus{
      color: white;
      padding: 6px 20px;
      background: $redcolor;
      margin-right: 20px;
    }
    .minus{
      margin-left: 20px;
    }
    .wish-list{
      width: 225px;
padding: 6px 20px;
border-radius: 10px;
border: 1px solid $redcolor;
background: #fff;
color: $redcolor;
 font-size: 18px;
 font-weight: 500;
 display: flex;
 justify-content: center;
 align-items: center;
 p{
  padding: 0 !important;
  margin:  0 !important;
 }
    }
  }
  .love{
    width: 20px;
    margin-right: 10px;
color: blue !important;
  }
  hr{
    background: #f1eeee;
  }
  .sizeandcolour{
    display: flex;
   margin: 40px 0;
.available{
  font-weight: 600;
}
    img{
      width: 35px;
    }
    .size{
      margin-right: 50px;
      button{
        border: none;
        
          background: #fff;
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          padding: 5px 15px;
          cursor: pointer;
       transition: .3s ease;
       border: 2px solid white;
          &:hover{
            border: 2px solid  #fb8200;
          
          }
    
        
      }
    }
  }
  .starNum{
    display: flex;
    .rate{
      margin-left: 20px;
    }
  }
  .addCart{
    width: 400px;
    background: $redcolor;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
margin: 40px 0;
  }
}
.section-checkout2{
  margin:7% 0;
  .checkout-section{
@include box-shadowpadding;
padding: 40px 20px;
  }
  h2{
    padding: 20px 0;
    border-bottom: 2px solid #f1eeee;
    font-weight: 700;
  }
  h6{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
}



.section-custReview{
  .customerRev{
    padding: 20px 12px;
    border-bottom: 2px solid #f1eeee;
    font-weight: 700;
  }
  .flexreviewsect{
    margin-top: 8%;
  }
  .flexreview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom:2px solid #f1eeee;
    .proreview{
      font-weight: 400;
      margin: 0 !important;
    font-size: 16px;
    }
.see-Img{
  display: flex;
  align-items: center;
  .see{
    margin-bottom: 0;
    color: #BD3A3A;
  }

  
}
    img{
      width: 20px;
    }
  }
  .proRate{
    font-weight: 400;
    padding: 15px 0px 30px 12px;
    font-size: 16px;
  }

  .checkout-section{
  @include box-shadowpadding;
  }
  .starRate{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    width: 35%;
    height: 200px;
    border-radius: 10px;
background: #F8F5F5;
  }
  .rate{
  font-weight: 700;

  }
  .classrate{
    width: 40%;
    margin-top: 15px;
  }
  .rates{
    display: flex;
align-items: center;
width: 100%;
justify-content: space-around;
margin-top: 5px;
    p{
   margin-bottom: 0 !important;
      font-size: 18px;
      font-weight: 700;
      margin-left: 10px;
    }
    .con{
      width: 100px;
      height: 7px;
      border-radius: 35px;
      background-color: #efefef;
      margin-left: 10px;
      .bar{
        height: 7px;
        border-radius: 36px;
        background: #FB8200;
      }
      .bar5{
        width: 70%;
      }
      .bar4{
        width: 60%;
      }
      .bar3{
        width: 50%;
      }
      .bar2{
        width: 40%;
      }
      .bar1{
        width: 30%;
      }
  
  
    }
  }
  .revHead{

font-weight: 700;

  }
  .revText{
    font-weight: 400;
    color: #787885;
  }
  .revSect{
    padding-bottom: 50px;
    border-bottom: 2px solid #f1eeee;
  }
  .revSec{
    padding-top: 20px;
    padding-left: 15px ;
  }
  .revPerson{
    margin-left: 20px;
    font-size: 14px;
    margin-top: 4px;
  }
  .rowstar{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}



// cart items

.section-cartItem{
  margin-top: 7%;
  .cartsection{
    margin: 30px 0;
  }
  .cart-sect{
@include box-shadowpadding;
padding:  20px;
  }
  .cart{
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #f1eeee;
  }
  h3{
    font-weight: 700;
    font-size: 26px;
  }
  .menbox{
    width: 100%;
  }
  .QuantPrice{
    display: flex;
    width: 100%;
  }
  button{
    border: none;
  }
  .cotton, .wishDel{
    margin-top: 8%;
  }
  .wishDel{
display: flex;
justify-content: space-between;
  }
  .wish, .del{
    width: 48%;
    border-radius: 10px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    p{
      padding: 0 !important;
      margin:  0 !important;
      color: $redcolor;
    }
  }
  .wish{
    border: 1px solid $redcolor;
    background: #ffffff;
  }
  .del{
    background: $redcolor;
  }

  .heart, .delete{
    width: 18px;
  }
  .plus, .minus{
    color: white;
    padding: 6px 14px;
    background: $redcolor;
  }
  .plus{
    margin-right: 15px;
  }
  .minus{
    margin-left: 15px;
  }
  .quantity{
  margin-right: 10px;
    text-align: center;
  }
  .price{
    margin-top: 20px;
font-size: 18px;

font-weight: 700;
  }
  .plusMinus{
    margin-top: 16px;
  }
  .quantity, .unitPrice{
    border-left: 2px solid #f1eeee;
    padding: 0 10px 50px 10px;
  }
  .cartt{
    border-bottom: 2px solid #f1eeee;
    padding: 50px 5px;
   }
   .cartTotal{
    font-weight: 700;
    font-size: 26px;

   }
   .shop{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    button{
border: none;
      padding: 8px 0;
      width: 48%;
      border-radius: 10px;
    }
    .contShop{
      border: 1px solid $redcolor;
      background: #ffffff;
      color: $redcolor;
    }
    .checkout{
      background: $redcolor;
      color: #ffffff;
    }
   }
   .total{
    font-weight: 700;
   }
   .subTot{
    border-left: 2px solid #f1eeee;
    padding: 20px;
   }
   .subtotal{
    border-bottom: 2px solid #f1eeee;
   }
   .cartOrder{
    border-bottom:  2px solid #f1eeee;
   }
   .shipping{
    padding: 30px 0;
   }

   .form{
    margin: 30px 0;
   input{
    width: 80%;
    border-radius: 8px;
    border: 1px solid $redcolor;
    padding: 8px 10px;
    outline: none;
   }
   label{
    font-weight: 600;
    font-size: 14px;
   }
   .submitButton{
    background: $redcolor;
    color: #ffffff;
    font-weight: 400;
&:hover{
  background: $buttonhover;
}
   }
   }
   .checkoutform{
    border-radius: 10px;
background: #FFF8F8;
padding: 20px;
margin: 30px 0;
   }
   .paymentdetails{
    background: #ffffff;
    color: #9F9F9F;
    font-size: 14px;
    margin: 0 20px;
    font-weight: 400;
    p{
      padding: 10px 20px;
    }

   }
   input[type="radio"]{
    transform: scale(1.5);
    background:red;
    border-color: $redcolor;
   }
   .pay{
    font-weight: 400;
   }
   .data{
   font-size: 14px;
   font-weight: 400;
   padding: 20px;
   }
   .placeOrder{
    width: 100%;
   }
   .h3{
    border-bottom: 2px solid #f1eeee;
    padding-bottom: 20px ;
   }
   .checks{
    margin-top: 15%;
   }
   .login{
  
    .forgot{
      color: #000000;
      text-decoration: none;
      font-size: 14px;
   
    }
    input{
      width: 100%;
      border-radius: 8px;
      border: 1px solid $redcolor;
      padding: 8px 10px;
      outline: none;
    
    }
    input[type="password"]{
   font-weight: 900;
    }
    .remember{
      p{
        padding-top: 13px;
      }
    .checkk{
  width:auto;
    }
   }

   input[type="checkbox"]{
   display: none;
   }
   input[type="checkbox"] + label:before{
    content: "\2713";
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    height: 20px;
   border: 1px solid $redcolor;
   color: #fff !important;
   }
   input[type="checkbox"]:checked + label:before{
    background-color: $redcolor;
    color: #fff !important;
   }
  }
  .lOgin{
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 14px 0;
    &:hover{
      background: $buttonhover;
    }
  }
  .create{
margin: 50px auto;
width: 60%;
  font-weight: 400;
}
.buttonCreate{
  position: absolute;
  top: 73.2%;
}
.createAcct{
 position: relative;
 height: 354px;
}
.accountSect{
  padding: 100px 20px;
}
.email, .password{
  font-weight: 400;

}
}

.round{
  display: none;
}

@media only screen and (max-width: 768px){
 .section-byc{
  button{
    width: 80% !important;
  }
 }
.about-lastsection{
  .product1, .product2, .product3{
    display: none;
  }
}

.main-allproducts{
  display: none;
}
.mid-allproducts{
  display: none !important;
}

.mobile-allproducts{
  display: block !important;
  padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  .product5, .product4{
    .productImg{
      width: 100%;
    }
  }
  h6{
    font-size: 16px;
    font-weight: 700;

    .byc{
font-weight: 400;
    }
  }
  .gridAndList{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px 0;
    border-bottom: 3px solid #f1eeee;
    .list, .grid{
padding: 10px 30px;
cursor: pointer;
    }
    .list{
@include list;
    }
    .grid{
      @include grid;
    }
  } 
}
.mobile-row{
  margin-top: 50px;
}
.wishlist{
  @include wishlist;
}
.btn-wish, .btn-shoppingcart{
  @include wishNcart;
  &:hover{
    background: $redcolor;
    color: #f1f1f1;
    &:hover .fa-heart, .fa-cart-shopping{
color: #ffffff !important;
    }
  }

}
.slider-section{
  margin-top: 50px;
}
.section-custReview{
  .starRate{
    width: 100%;
  }
}
}



.accordion-button:not(.collapsed), .accordion-button{
  background-color: $redcolor !important;
  color: #ffffff;
  font-weight: 600;
  outline: none;
}


@media only screen and (max-width: 992px) {
  .largeScreenNav{
    display: none; 
  }
  .mobileNav{
display: block;

top:10px;
z-index: 10;
background: #fff;
  }
  .linkPage{
    margin-top: 20px;
  }
  // section1
  .section1{
   .btns{
    flex-direction: column;
  
    .button{
      width: 90vw !important;
    }
    .button1{
      margin-right: 0 !important;
      margin-bottom: 4%;
     
    }
    
   }
  
  }
  .section1-img{
    .img-section1{
      flex-direction: column;
      align-items: start;
      width: 100%;
  }
  .img1{
    margin-right:  0;
    margin-top: 10%;
  }

}


// section2
.section2{
  .newArrival{
    margin-top: 18%;
    font-size: 24px;
  }
.section2-underwear{
  flex-direction: column;
}
.imageA{
  margin-bottom: 10%;
}

}


// section3
.sectionthree1{
  height: 1000px;
  .section-byc{
    position: static !important;
    padding: 10%;
    h2{
      font-size: 32px !important;
    }
  
  }
}
.sectionthree2{
  margin-top: 7%;
}
.pp2{
  width: 100% !important;
}
.sectionthree5{
  margin-top: 7%;
}


// section4
.section4{
  .shopCategory{
    .undies div p{
      padding:  2px 15px;
    }
  }
  h3{
    margin: 20% 0;
  }
}


.section5{
 .swiper-pagination{
  display: block !important;
  position: static !important;
 }
 .swiper-button-prev, .swiper-button-next{
  display: none !important;
 }

}


// section6
.section6{
  .sixcard1, .sixcard2, .sixcard3{
    margin-top: 10%;
  }
  .sect-p1{
    font-size: 24px;
  }
  .viewBtn3{
    margin-top: 10%;
  }
}

footer{
  text-align: center;
  margin-top: 20%;
  .input-img-div{
    margin: 0 auto;
  }
  .mail, .phone{
 justify-content: center;
  }

  h6{
    margin-top: 10%;
  }
  .social-icon{
  width: 60%;

  }
}


.section1-blog{
 margin-top: 25%; 
  .blog-sect{
    height: 500px;
 margin-top: 5%;
 .textnread{
  padding: 10px 0;

 }
  }
  .sect2{
    display: flex;
    flex-direction: column-reverse;
  }
}


// about styling
.about-sec{
  margin-top: 25px;
}
.section1-about{
  h3{
    text-align: center;
    margin: 15% 0;
  }
  .about-text{
    text-align: center;
    margin: 10% 0;
  }
}
.section2-about{
  h1{
    font-size: 36px;
  }
}

.about-lastsection{
  .product1, .product2{
    display: none;
  }
}

.contact-section1{
  .contact-flex1{
  margin-top: 5%;
  }
}
.contact-section2{
  .dropmessage{
    text-align: center;
    font-size: 40px;

  }
}
// all products...........................................
.main-allproducts{
  display: none;
}
fieldset{
  h6{
    font-weight: 700;
  }
}
.mid-allproducts{
  padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  display: block;
  .product5{
    width: 100%;
    .productImg{
      width: 100%;
    }
  }
  .gridAndList{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px 0;
    border-bottom: 3px solid #f1eeee;
    .list, .grid{
padding: 10px 30px;
    }
    .list{
      border-radius: 2px;
background: rgba(189, 58, 58, 0.06);
    }
    .grid{
      border-radius: 4px;
      background: #ffffff;
      box-shadow: 0px 2px 4px 0px rgba(41, 121, 255, 0.24), 0px 1px 2px 0px rgba(27, 78, 163, 0.24);
    }
  }
  .product1,.product2,.product3,.product4,.product5{
  .wishlist{
@include wishlist;
  visibility: hidden;
  }
  &:hover .wishlist{
    visibility: visible;
  }
}
  .btn-wish, .btn-shoppingcart{
@include wishNcart;
   
    &:hover{
      background: $redcolor;
      color: #f1f1f1;
      &:hover .fa-heart, .fa-cart-shopping{
color: #ffffff !important;
      }
    }
  }
  .mid-row{
    margin-top: 50px;
  }

  h6{
    font-size: 16px;
    font-weight: 700;

    .byc{
font-weight: 400;
    }
  }
}
.mobile-allproducts{
  display: none;
}
.slider-section{
  margin-top: 100px;
}

.section-checkout1 {
.addCart{
  width: 100%;
margin-top: -10px !important;
}
.sizeandcolour{
  margin-top: 15px !important;
.size button{
  padding: 6px;
  font-size: 10px;
  
}
 img{
  width: 28px;
 }
}
.counter{
  display: block;
   .wish-list{
  width: 100%;
}
}
.plusMinus{
margin-top: -20px !important;
 align-items: center;
 margin-bottom: 10px;
 .plus,.minus{
  padding: 4px 10px;
 }
}

}


// cart item
.section-cartItem{
  .menbox{
    margin: 50px 0;
    width: 100% !important;
  }
  .quantity, .unitPrice{
    border: none;
  }
  .quantity{
    margin-right: 5px;
  }
  .shop{
    display: block;
    margin-top: 10px;
    .contShop, .checkout{
      width: 100%;
    }
    .contShop{
      margin: 10px 0;
    }
  }
  .wishDel{
    display: block;
    .wish, .del{
      width: 100%;
    }
  }
  .wish{
    margin: 10px 0;
  }
  .cartt{
    padding: 0;
    width: 100%;
  }
 .QuantPrice{
  justify-content: start;
 }
 .modCart{
  width: 100%;
 }
 .payMed{
  width: 80%;
  text-align: center;
  margin: 0 20px;
 }
 .form{
  input{
    width: 100%;
  }
}
.subTot{
  border: none;
}
.createAcct{
  margin-top: 70px;
}
.accountSect{
  padding: 50px 20px;
}
.create{
  width: auto;

}
}


}



@media only screen  and (min-width: 992px) and (max-width: 1200px)
{
  .section6{

  .viewdiv, .likediv{
flex-direction: column;
   }
  }
   .section1-blog{
    .blog-img1{
      height: 500px;
    }
    .blog-sect{
      height: 500px;
    .textnread{
      line-height: 20px;
    }
    }
 
   }
}

@media only screen and (min-width: 1600px){
  .section1-img{
   .img-section1{
    width: 100%;
   } 
  }




  // blog styling
  .section1-blog{
    .blog-sect{
    .textnread{
    top: 30%;
    }
  }
  }


}



